# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
**/out/
**/bin/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Kotlin/Java
*.class
*.war
*.ear
*.jar
*.kjb
*.kts~
hs_err_pid*

# Spring Boot
*.pid
*.pid.lock

# Testing
test-output/
**/reports/
**/test-results/

# Others
node_modules/
.env

resources/application.yml